.DS_Store
_cache/*
.htaccess
_config/users/admin.yaml
html/.htaccess
html/robots.txt
html/_cache
*.esproj
*.espressostorage
mikeyclarke.esproj/user.mikey.espressostorage
mikeyclarke.esproj/Project.espressostorage


# -------------
# STATAMECHANIC
# -------------
statamechanic_settings.sh
