a:not(.visuallyhidden) {
	position: relative;
	min-width: 0;
	//@include transition(min-width 0.5s ease);
	&:after {
		content: " ";
		height: 0.0625em;
		min-width: inherit;
		position: absolute;
		bottom: 0;
		left: 50%;
		background: $primaryColor;
		// Someday, in a beautiful world full of unicorns and free Corona,
		// pseudo-elements will transition without hacks in webkit.
		// On that day, extend this transition so the line appears from
		// the center, not the left. This is my dream.
		@include transition(left 0.5s ease, min-width 0.5s ease, background 0.5s ease);
	}
	&:hover:after {
		min-width: 100%;
		left: 0%;
		background: $linkFocus;
	}
	&:visited:after {
		background: $visitedLink;
	}
}

// Only have appear for non-touch devices.
// See, https://gist.github.com/1275792
.no-js a:not(.visuallyhidden):hover,
.no-touch a:not(.visuallyhidden):hover {
	min-width: 100%;
}