$bodyBackground: 	#fbfbfb;
$bodyColor: 		rgb(76, 76, 76);

$headingColor: 		#444;

$primaryColor: 		#d43d64;
$linkFocus:			saturate($primaryColor, 25%);
$visitedLink:		lighten($primaryColor, 15%);


body {
	color: $bodyColor;
	background: $bodyBackground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $headingColor;
}

a {
	color: $primaryColor;
	&:focus,
	&:hover {
		color: $linkFocus;
	}
	&:visited {
		color: $visitedLink;
	}
}